/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}


#art {
  display: inline-block;
  border-spacing: 2px;
  background-color: white;
  border: 5px solid white;
}  

.row {
  display: table-row;  
}

.row2 {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: black;
  width: 20px;
  height: 15px;
}

.pen {
  display:inline-block;
  width: 20px;
  height: 15px;
  border: 2px solid white;
}

#img-container {
    vertical-align: top;
    display: inline;
}

img {
    /* width: 440px; */
}